<style>
  h3{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
  }
</style>
<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  


    <h3>About SP GEMS</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolores consectetur quae, autem a cupiditate facilis. Minus enim, blanditiis vel facilis repellendus beatae, dolor molestiae voluptatibus numquam rem quae iure</p>

    <hr>
    <h3>Myanmar Ruby</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Commodi dolores consectetur quae, autem a cupiditate facilis.
       Minus enim, blanditiis vel facilis repellendus beatae, dolor molestiae voluptatibus numquam rem quae iure</p>

       
</ion-content>


